node_modules/
out/extension_backup.*
out/extension_new.*
out/extention.*
src/**
!src/**/*.d.ts
__pycache__/**
*.pyc
*.pyo
*.map
*.log
test_example.py
src/test/**
**/*.test.*
.eslintrc.js
tsconfig.json
*.vsix
.DS_Store
*.log
.vscode/.history
